.button {
  background: #9DD458;
  width: 100%;
  padding: 18px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  align-items: center;
  border-radius: 18px;
  transition: 0.3s ease;
  & p {
    color: white;
  }
}