.cart {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 12;
  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  animation: fade 0.3s ease;
  &.active {
    right: 0;
  }
  &.show {
    display: flex;
    animation: fadeIn 0.3s ease;
  }
  &.hide {
    animation: fadeOut 0.3s ease;
  }
  &__footer {
    margin-top: 30px;
  }
  &__elem {
    border: 1px solid #F3F3F3;
    padding:20px;
    border-radius: 20px;
  }
  &__cart {
    position: fixed;
    width: 300px;
    background: white;
    height: 100vh;
    padding: 20px;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    right: 0;
  }
  &__empty {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 10vh;
    & img {
      width: 120px;
      margin-bottom: 20px;
    }
    & h2 {
      margin-bottom: 20px;
    }
    & p {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
      color: #9D9D9D;
      margin-bottom: 40px;

    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    & p {
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      letter-spacing: 0em;
      text-align: left;

    }
  }
  &__elems {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__tax, &__total {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 24px;
    & p {
      display: flex;
      justify-content: space-between;
    }
  }
  &__order {
    background: #9DD458;
    width: 100%;
    padding: 18px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    align-items: center;
    border-radius: 18px;
    transition: 0.3s ease;
  }
  &__order:hover {
    gap: 20px;
  }
  &__menuclose {
    font-size: 30px;
  }
}
.cart.active {
  display: flex;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
