.elem__img {
  max-width: 100%;
}
.elem__buttonimg {
  margin: 0;
  width: 32px;
}
.elem__info {
  display: flex;
  justify-content: space-between;
}
.elem__info p {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.elem__info span {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.error {
  color: #ff3131;
  margin: 10px 0;
  font-size: 16px;
}