
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body, html {
  font-size: 14px;
  line-height: 17px;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
.container {
  padding: 0 15px;
}
.App {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.item {
  padding-bottom: 40px;
  & img {
    max-width: 500px;
    width: 100%;
    margin-top: 40px;
  }
  & h1 {
    line-height: 35px;
  }
  &__button {
    padding: 14px 20px;
    border-radius: 500px;
    color: white;
    font-weight: 700;
    font-size: 24px;
    background: #9b9b9b;
  }
  &__inCart {
    background-color: #60da76;
  }
  &__liked {
    background: #ff5151;
  }
  &__buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  & p {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 500;
  }
}

.slider {
  width: 100%;
  display: flex;
  justify-content: center;
}
.slick-next::before, .slick-prev::before {
  color: #000 !important;
}

.modal {
  position: fixed;
  top: -100%;
  right: 20px;
  padding: 20px 30px;
  background: lightgrey;
  font-weight: 700;
  color: #000;
  font-size: 24px;
  border-radius: 14px;
  transition: .3s ease all;
  &__visible {
    top: 100px;
  }
}